<p>
  todolist works!
</p>
<form [formGroup]="todoListForm" (ngSubmit)="onSubmit(form)">
  <input type="text" formControlName="todoInput">
  <button type="submit">send</button>
</form>
<div>
  <!-- <ul>
     <li *ngFor="let todoLists of todoList | async">

       {{ todoLists.$key }} : {{ todoLists.$value }}

     </li>
   </ul>-->
  <h3>New Task</h3>
  <ul>
    <li *ngFor="let todoLists of todoList;let i=index">
      <input type="checkbox" [(ngModel)]="todoLists.completed">
      <span>{{todoLists.name}}</span>
      <i class="delete" (click)="deleteTask(i)">[x]</i>
    </li>
  </ul>
  <div><button type="button" (click)="doneTask()" >Done</button> </div>
  <h3>Done Task</h3>
  <ul>
    <li *ngFor="let doneTaskLists of doneTaskList; let i=index">
      <span>{{doneTaskLists.name}}</span>
    </li>
  </ul>

  <h3>FireBase</h3>
  <ul>
    <li *ngFor="let todoLists of todoListData | async;let i=index">
      <span>{{todoLists.content}}</span>
      <i class="delete" (click)="deleteTask(i)">[x]</i>
    </li>
  </ul>
</div>
