<p>
  create works!
</p>
<form [formGroup]="createSpendMoneyForm">
  <div>
    <label>enter amount</label>
    <input type="number" formControlName="amountMoney">
  </div>
  <div>
    <label>select category</label>
    <div class="row">
      <div class="col-md-6">
        <label>Example label</label>
      </div>
    </div>


    <select>
      <option>Food</option>
      <option>House</option>
      <option>Cafe</option>
      <option>Kitchen</option>
    </select>
  </div>
  <div>
    <label >select category</label>
    <input formControlName="date" type="date">
  </div>
  <div>
    <label>description</label>
    <textarea formControlName="description"></textarea>
  </div>
  <button type="button" (click)="createSpendMoney($event)" class="btn btn-primary waves-light" mdbRippleRadius>add</button>
</form>




<ul>
  <li *ngFor="let amountMoneyList of moneyTaskList | async;let i=index">
    <span>{{amountMoneyList.value}}</span>
    <span>{{amountMoneyList.description}}</span>
    <span>{{amountMoneyList.date}}</span>
   <!-- <i class="delete" (click)="deleteTask(i)">[x]</i>-->
  </li>
</ul>
