.navbar-dark {
  background: #000;
}

.content-bg {
  background: url("https://wallpaperscraft.ru/image/kosmos_nebo_zvezdy_79233_3840x2160.jpg") no-repeat;
  background-size:  cover;
  color: #fff;
}

.content {
  padding: 30px 0;
}

.weather-container {
  width: 320px;
  div {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
    p {
      width: 50%;
      margin: 0;
    }
  }
}

input[type=text].input-city {
  background: #fff;
}

.md-form button.btn {
  margin: 0;
}
