input[type=text], input[type=password], input[type=email], input[type=url], input[type=time], input[type=date], input[type=datetime-local], input[type=tel], input[type=number], input[type=search-md], input[type=search], textarea.md-textarea {
  box-sizing: border-box;
}

.navbar-dark {
  background: #000;
}

.content-bg {
  background: url("https://wallpaperscraft.ru/image/kosmos_nebo_zvezdy_79233_3840x2160.jpg") no-repeat;
  background-size: cover;
  color: #fff;
}

.content {
  padding: 30px 0;
}

.weather-container {
  width: 320px;
  div {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
    p {
      width: 50%;
      margin: 0;
    }
  }
}

input[type=text].input-city {
  background: #fff;
}

.md-form button.btn {
  margin: 0;
}

.item-wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  & > div {
    width: 30%;
    margin-bottom: 30px;

  }
}

.container {
  padding-top: 40px;
}

.label-title {
  font-size: 16px;
}

.input-wrapper {
  margin-bottom: 20px;

}

.container {
  .field {
    height: 26px;
    border: 1px solid #bdbdbd;
    padding: 2px 5px;
    resize: vertical;
    width: 100%;
  }
}
